@using MyAccounts.Enum
@using MyAccounts.Helper
@model IEnumerable<MyAccounts.Models.ViewModel.MoneyViewModel>
@{
    Layout = null;
    var index = 0;
}
@helper InOutColor(Balance inOutType)
{
    if ((int)inOutType == 1)
    {
        <span style="color: red;">@inOutType.GetDisplayName()</span>
    }
    else
    {
        <span style="color: blue;">@inOutType.GetDisplayName()</span>
    }
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(++index)
                    </td>
                    <td>
                        @InOutColor(item.Category)
                        @*@item.Category.GetDisplayName()*@
                        @*@Html.DisplayFor(modelItem => item.Category)*@
                    </td>
                    <td>
                        @item.Date.ToString("yyyy-MM-dd")
                        @*@Html.DisplayFor(modelItem => item.Date)*@
                    </td>
                    <td>
                        @item.Amount.ToString("N0")
                        @*@Html.DisplayFor(modelItem => item.Amount)*@
                    </td>
                </tr>
            }
        </table>
    </div>
</div>